<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=790">
  <title>Release notes for <%= site %></title>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<center>

  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
  <tr>
  <td align="center" valign="top" style="padding-top:20px;">

    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
    <tr>
    <td align="center" valign="top">

      <table border="0" cellpadding="20" cellspacing="0" width="100%">
      <tr>
      <td valign="top" class="bodyContent">

        <div>
        <h4 class="h4"><%= fullname %> updated <%= site %></h4>
        <pre class="releaseMessage"><%= msg %></pre>
        </div>

      </td>
      </tr>
      <tr>
      <td valign="top">

        <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
        <tr>
        <th scope="col" valign="top" width="10%" class="dataTableHeading">
          DATE
        </th>
        <th scope="col" valign="top" width="90%" class="dataTableHeading">
          UPDATED FILES
        </th>
        </tr>

        <% for (var i = 0; i < files.length; i++) { %>
          <tr>
          <td><%= date %></td>
          <td><a href='<%= files[i] %>'><%= files[i] %></a></td>
          </tr>
        <% } %>

        </table>

      </td>
      </tr>
      </table>

    </td>
    </tr>
    </table>

    <br>

  </td>
  </tr>
  </table>

</center>
</body>
</html>